name: Create ZIP & TAR.GZ on Push

on:
  push:
    branches:
      - "**"

jobs:
  create_zip:
    name: ZIP Artifact Job
    runs-on: [self-hosted, nd_runner_1]   # Runner 1 (Windows)
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create ZIP file (PowerShell)
        run: |
          Compress-Archive -Path . -DestinationPath project.zip -Force

      - name: Upload ZIP artifact
        uses: actions/upload-artifact@v4
        with:
          name: repo-zip
          path: project.zip
          retention-days: 7


  create_targz:
    name: TAR.GZ Artifact Job
    runs-on: [self-hosted, nd_runner_2]   # Runner 2 (Windows or Linux)
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create TAR.GZ file
        run: |
          tar -czf project.tar.gz .

      - name: Upload TAR.GZ artifact
        uses: actions/upload-artifact@v4
        with:
          name: repo-targz
          path: project.tar.gz
          retention-days: 7